.searchWrapper {
  width: 100%;        /* Ocupa a largura total disponível */
  display: flex;       
  position: relative;
  margin-bottom: 30px;   /* Espaço para os cards abaixo */
}

.searchIcon {
  position: absolute;
  left: 15px; /* Distância da borda esquerda */
  top: 50%;   /* Empurra o topo do ícone até a metade do input */
  transform: translateY(-50%); /* Puxa o ícone de volta pela metade da sua própria altura */
  color: #616a77;
  z-index: 10;
  pointer-events: none;
  display: flex; /* Garante que o SVG interno não tenha comportamentos estranhos */
  align-items: center;
}


.searchInput {
  width: 100%;
  padding: 16px 20px 16px 48px; /* O 48px garante que o texto não atropele a lupa */
  font-size: 1.1rem;
  border: 2px solid #334155; /* Um tom que combina com o fundo escuro */
  border-radius: 12px;
  background-color: #1e293b; /* Fundo do input levemente mais claro que o da página */
  color: white;
  outline: none;
  transition: all 0.2s ease;
}

.searchInput:focus {
  border-color: #d1d5db;
  background-color: #0f172a; /* Escurece um pouco ao focar */
}
