.overlay {
 position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex !important;
  align-items: center !important;
  backdrop-filter: blur(4px); /* Efeito de desfoque no fundo */
  justify-content: center !important;
  background-color: rgba(0, 0, 0, 0.7);
}


.modal {
  width: 90%;
  color: #E5E7EB;
  padding: 45px;
  position: relative; /* FUNDAMENTAL para o botão 'x' se posicionar */
  animation: modalIn 0.3s ease-out; /* Animação de entrada */
  max-width: 700px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #1F2937;
}

/* Alterando os textos dentro do modal para que fiquem maiores e mais organizados */
.modal h2 {
  color: #E5E7EB;
  font-size: 2rem; /* Título bem grande */
  margin-bottom: 20px;
  border-bottom: 2px solid #f1f5f9;
  padding-bottom: 15px;
}

.modal p {
  color: #E5E7EB;
  margin: 10px 0;
  font-size: 1.25rem;
  line-height: 1.8;
}

.modal strong { /* Destaque para os rótulos */
  color: #E5E7EB;
  font-weight: 700;
}

/* BOTÃO DE FECHAR */
.closeButton {
  position: absolute;
  top: 15px; /* Distância do topo */
  right: 15px; /* Distância da direita */
  background: transparent; /* Fundo cinza bem clarinho */
  color: #ffffff; /* Cor do 'x' suave */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil para destacar o botão */
  border-radius: 50%; /* Faz o botão ficar redondo */
  width: 32px; /* Largura fixa */
  height: 32px; /* Altura fixa */
  cursor: pointer;
  display: flex; /* Centraliza o 'x' dentro do círculo */
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  transition: all 0.2s; /* Animação suave no hover */
}
.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fundo escurece um pouco */
  color: #ffffff; /* 'x' fica mais escuro */
}

@keyframes modalIn {
  from { opacity: 0; transform: translateY(20px) scale(0.9); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}